{% extends "base.html" %}
{% from "_icons.html" import icon_user_plus %}
{% block title %}Invite team member - Phil{% endblock %}
{% block wrapclass %}narrow{% endblock %}
{% block content %}
<div class="card card-center">
  <div class="icon-badge icon-badge--teal">{{ icon_user_plus(color='var(--teal-darker)') }}</div>
  <h1>Invite a Phil team member</h1>
  <form method="post" action="/staff/team/new" class="form-left">
    <div class="field"><label for="name">Name</label><input type="text" id="name" name="name" required></div>
    <div class="field"><label for="email">Email</label><input type="email" id="email" name="email" required autocomplete="email"></div>
    <div class="field"><label for="password">Temporary password</label><input type="password" id="password" name="password" required minlength="8" autocomplete="new-password"></div>
    <button class="btn btn-primary btn-block" type="submit">Add to Phil team</button>
  </form>
</div>
{% endblock %}
